<% provide(:title, "login") %>
<h1>ログイン</h1><br>
  <h2>管理者：sample@email.com<br>
      一般-1：sample-1@email.com<br>
      一般-2：sample-2@email.com<br><br>
  パスワード(共通)：password<br></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

      <%= f.label :email, "メールアドレス", class: "label-login" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード", class: "label-login" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
        <%= f.check_box :remember_me, id: "remember-me" %>
        <span>ログイン情報を記憶する</span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-login" %>
    <% end %>
    <p>
      ユーザー登録がまだの場合は<%= link_to "こちら", signup_path %>
    </p>
    <%# <%= link_to("Lineログイン", user_line_omniauth_authorize_path,{class: "btn btn-primary btn-block btn-login"}) %>
    <%= link_to '/auth/twitter', class: 'btn btn-block btn-primary' %>
    <%= link_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary" %>
    <%= button_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary" %>
  </div>
</div>