<% provide(:title, 'All Scores') %>
<% provide(:class_text, 'score--edit') %>
<% provide(:button_text, '更新') %>
<h1>楽譜一覧</h1>



  <table class="table table-condensed table-hover" id="table-beats">
    <thead>
      <tr>
        <th>曲名</th>
        <th>アーティスト</th>
        <th></th>
      </tr>
    </thead>
      <% @scores.each do |score| %>
        <tr>
          <td><%= score.title %></td>
          <td><%= score.artist %></td>
          <td><%= link_to "閲覧", user_score_path(id: score.id, create_id: score.user_id), class: "btn btn-lg btn-warning" %>
          <% if current_user.id == score.user_id %>
          <%= link_to "修正", edit_user_score_path(id: score.id), class: "btn btn-lg btn-success" %>
          <%= link_to "削除", user_score_path(id: score.id), method: :delete, class: "btn btn-lg btn-danger" %>
          <% end %>
          </td>
        </tr>
      <% end %>
  </table>

  <%= link_to "新規作成", new_user_score_path, class: "btn btn-lg btn-primary" %>


